.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;

}

.body>container {
    margin: 20px;
    padding: 20px;
    border-style: none;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 20rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        width: 10rem;
        margin-right: 2rem;
    }
}