.bg-orange{
    background-color: orange;
}
.bg-indigo{
    background-color: purple;
}
.bg-blue{
    background-color: blue;
}
.text-orange{
    color: orange;
}
.text-indigo{
    color: purple;
}
.footer{
    display: flex ;
}